# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# IDE files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db
